@import "tailwindcss";
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tạo bóng cho header */
}

.hero-section{
  position: relative;
}

section{
  margin-left: 20px;
}

.container {
  max-width: 1200px;  
  margin-left: auto;
  margin-right: auto; 
}

.homepage-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.product-section {
  position: relative;
  margin-bottom: 30px;
   overflow: hidden; 
}

.product-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  scroll-behavior: smooth; 
}

.product-carousel::-webkit-scrollbar {
  height: 8px;
}

.product-carousel::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.product-carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.view-more-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: none; 
}

.product-section:hover .view-more-button {
  display: block;
}


